@charset "UTF-8";
body {
  font-family: "Roboto", "Noto Sans KR", "돋음", sans-serif;
  color: #111;
  font-size: 16px;
  min-height: 1000px;
  min-width: 1000px;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.h2-title {
  font-size: 24px;
  font-size: 700;
  padding-bottom: 50px;
}

.contants-box {
  padding: 80px 0;
}

p {
  line-height: 1.5;
}

.popup {
  position: fixed;
  left: 50px;
  top: 100px;
  background-color: white;
  padding: 20px;
  border: 1px solid #000;
  z-index: 100;
}
.popup .contants {
  width: 400px;
  height: 400px;
  background-color: #ccc;
}
.popup .btns button {
  color: #ff6600;
  background-color: #ccc;
}

.header {
  position: fixed;
  width: 100%;
  color: white;
  z-index: 105;
  height: 100px;
  overflow-y: hidden;
  transition: all 0.5s ease;
}
.header.scroll {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #111;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.header.scroll .logo .white {
  opacity: 0;
}
.header.scroll .logo .black {
  opacity: 1;
}
.header.open {
  height: 350px;
  background-color: white;
  color: #111;
}
.header.open .logo .white {
  opacity: 0;
}
.header.open .logo .black {
  opacity: 1;
}
.header .logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  display: flex;
  align-items: center;
}
.header .logo img {
  transition: all 0.25s ease;
}
.header .logo .white {
  position: absolute;
}
.header .logo .black {
  opacity: 0;
}
.header .gnb {
  display: flex;
  justify-content: center;
}
.header .gnb > ul {
  display: flex;
  justify-content: center;
  text-align: center;
}
.header .gnb ul li:hover .depth01 {
  color: #ff6600;
}
.header .gnb ul li:hover .depth01::after {
  transform: scaleX(1);
}
.header .gnb ul li .depth01 {
  font-size: 20px;
  display: flex;
  height: 100px;
  padding: 0 30px 0 30px;
  align-items: center;
  position: relative;
}
.header .gnb ul li .depth01::after {
  content: "";
  display: block;
  transform: scaleX(0);
  height: 3px;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  background-color: #ff6600;
  transition: all 0.25s ease;
}
.header .gnb ul li .depth02 {
  padding-top: 30px;
}
.header .gnb ul li .depth02 li a {
  font-size: 14px;
  display: block;
  padding: 10px 0;
}
.header .gnb ul li .depth02 li a:hover {
  color: #ff6600;
}
.header .gnb a {
  transition: all 0.25s ease;
}

.main-visual {
  overflow: hidden;
}
.main-visual .visual-wrap .visual {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-visual .visual-wrap .visual01 {
  background-image: url("../images/main/visual01.jpg");
}
.main-visual .visual-wrap .visual02 {
  background-image: url("../images/main/visual02.png");
}
.main-visual .visual-wrap .visual03 {
  background-image: url("../images/main/visual03.jpg");
}
.main-visual .visual-wrap .visual04 {
  background-image: url("../images/main/visual04.png");
}
.main-visual .visual-wrap .visual05 {
  background-image: url("../images/main/visual05.jpg");
}
.main-visual .visual-wrap .visual06 {
  background-image: url("../images/main/visual06.jpg");
}
.main-visual .pagination {
  position: absolute;
  bottom: 200px;
  z-index: 2;
  display: block;
  text-align: center;
}
.main-visual .pagination .swiper-pagination-bullet {
  width: 100px;
  height: 20px;
  border-radius: 20px;
  background-color: transparent;
  border: 4px solid #fff;
  opacity: 1;
  transition: all 0.25s ease;
}
.main-visual .pagination .swiper-pagination-bullet-active {
  background-color: #fff;
  width: 100px;
}