server:
  port: 8090

spring:
  output:
    ansi:
      enabled: always
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
    thymeleaf:
      cache: false

  #### database ??
  datasource:
    driver-class-name: oracle.jdbc.driver.OracleDriver
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: kimhk11
    password: 1234

#### mybatis ??
mybatis :
  config-location : classpath:mapper/config/config.xml
  mapper-locations : classpath:mapper/sql/**/*.xml

#### log ?? fatal > error > warn > info > debug
logging:
  level:
    root: info
    '[com.khk11.board]': info