<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<div layout:fragment="content">
    <div class="container">
        <h2>리스트</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">no</th>
                <th scope="col">제목</th>
                <th scope="col">글쓴이</th>
                <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boardItem,status :${boardList}">
                <th scope="row" th:text="${status.count}">1</th>
                <td>
                    <a th:text="${boardItem.title}" href=""
                       th:href="@{/board/view/{id}(id=${boardItem.id})}">
                    </a>
                    <!--<a th:text="${boardItem.title}" href=""
                       th:href="@{/board/view(id=${boardItem.id})}">
                    </a>-->
                </td>
                <td th:text="${boardItem.name}">Otto</td>
                <td th:text="${boardItem.content}">@mdo</td>
            </tr>
            </tbody>
        </table>
        <div class="mt-5">
            <a href="" class="btn btn-primary" th:href="@{/board/write}">write</a>
        </div>
    </div>


</div>
</html>