<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<div layout:fragment="content">
    <div class="container">
        <h2>리스트</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">no</th>
                <th scope="col">제목</th>
                <th scope="col">글쓴이</th>
                <th scope="col">내용</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boardItem,status :${boardList}">
                <th scope="row" th:text="${pageMaker.total -( status.count+(pageMaker.criteria.pageSize*(pageMaker.criteria.currentPage-1)))}">1</th>
                <td>
                    <a th:text="${boardItem.title}" href=""
                       th:href="@{/board/view/{id}(id=${boardItem.id})}"
                       th:attrappend="data-idx=${boardItem.id}"
                       class="btnView">
                    </a>
                    <!--<a th:text="${boardItem.title}" href=""
                       th:href="@{/board/view(id=${boardItem.id})}">
                    </a>-->
                </td>
                <td th:text="${boardItem.name}">Otto</td>
                <td th:text="${boardItem.content}">@mdo</td>
                <td><button class="btn btn-danger btnDelete" th:attrappend="data-idx=${boardItem.id}">삭제</button></td>
               <!--th:classappend="delete" 클래스에 추가할 수 잇음-->
                <!--th:attrappend 속성 추가-->
                <!--data-idx="${boardItem.id}"-->
            </tr>
            </tbody>
        </table>
        <div class="mt-5">
            <a href="" class="btn btn-primary" th:href="@{/board/write}">write</a>
        </div>
        <div class="container mt-5" >
            <form action="" th:action="@{/board/list}" method="get">
                <div class="row">
                    <div class="col-4" th:with="category=${param.category}">
                <select class="form-select" aria-label="Default select example" name="category">
                    <option value="title" th:selected="${#strings.equals(category,'title') ?true:false}">제목</option>
                    <option value="name" th:selected="${#strings.equals(category,'name') ?true:false}">이름</option>
                    <option value="content" th:selected="${#strings.equals(category,'content') ?true:false}">내용</option>
                    <option value="all" th:selected="${#strings.equals(category,'all') ?true:false}">전체</option>
                </select>
                    </div>
                    <div class="col-6">
                    <input type="text" class="form-control" name="searchTxt" th:value="${param.searchTxt}">
                    </div>
                    <div class="col-2">
                <button class="btn btn-primary">검색</button>
                    </div>
                </div>
            </form>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" th:href="@{/board/list(currentPage=${pageMaker.criteria.currentPage}-1)}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:each="pageNum:${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
                    th:classappend="${pageMaker.criteria.currentPage==pageNum ?'active':''}"
                >
                    <a class="page-link" href="" th:text="${pageNum}" th:href="@{/board/list(currentPage=${pageNum})}">1</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="#" th:href="@{/board/list(currentPage=${pageMaker.criteria.currentPage}+1)}" aria-label="Next" >
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal" tabindex="-1" id="viewModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="name">외계인</p>
                    <p class="regdate">2023-11-09 11:10:10</p>
                    <div class="content">Modal body text goes here.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button class="btn btn-danger" th:href="@{/board/delete}" >삭제</button>
                </div>
            </div>
        </div>
    </div>
    <script>

  const viewModal = new bootstrap.Modal("#viewModal");

    /*     $(".btnView").on("click",function(e){
            e.preventDefault();
            const idx = $(this).data("idx");
            $.ajax({
                url:`/board/view/${idx}`,
                success:function(data){
                      console.log(data);
                    if(data.isState==="ok") {
                        viewModal.show();
                        $("#viewModal .modal-title").text(data.viewData.title);
                        $("#viewModal .modal-body .name").text(data.viewData.name);
                        $("#viewModal .modal-body .regdate").text(data.viewData.regdate);
                        $("#viewModal .modal-body .content").text(data.viewData.content);


                        $("#viewModal .modal-footer .btn-danger").on("click",function(){
                              const idx = data.viewData.id;
                               console.log(idx);
                               const tr = $(".btnDelete").parent().parent();
                               console.log(tr);
                           $.ajax({
                              url:`/board/delete/${idx}`,
                              method:"delete",
                              success:function(data){
                              console.log(data);
                               if(data.isDelete==="ok"){
                                  viewModal.hide();
                                  tr.remove();
                              }
                               }
                          })
                        })
                    }
                }
            })
            console.log(idx);
            return false;
        })*/






       $(".btn").on("click",function(){
           console.log($(this).data("idx"));
           const tr = $(this).parent().parent();
       <!--const tr = $(this).closest("tr");-->
           const idx = $(this).data("idx");
           $.ajax(
                {
                url:`/board/delete/${idx}`,
                 method:"delete",
                success:function(data){
                console.log(data);
                if(data.isDelete==="ok"){
                   tr.remove();
                }
                }
           })
       })
    </script>

</div>
</html>