<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<div layout:fragment="content" class="main">
    <form method="get" action="" th:action="@{/board/write}" th:object="${boardDto}">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목">
          <!-- // <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:v>오류메세지</p>-->
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">name</label>
            <input type="text" class="form-control"  ></input>
         <!--   <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">오류</p>-->
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">content</label>
            <textarea type="text" class="form-control" id="content" name="content" rows="5"></textarea>
           <!-- <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error">오류</p>-->
        </div>
        <div class="mt-5">
            <button class="btn btn-primary"> 확인 </button>
        </div>
    </form>


</div>
</html>