<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<div layout:fragment="content" class="main">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">no</th>
            <th scope="col">제목</th>
            <th scope="col">이름</th>
            <th scope="col">내용</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td th:text="${boardDto.id}">Otto</td>
            <td th:text="${boardDto.title}">Otto</td>
            <td th:text="${boardDto.name}">@mdo</td>
            <td th:text="${boardDto.content}">@mdo</td>
        </tr>
        </tbody>
    </table>
    <div>
        <a class="btn btn-danger" th:href="@{/board/modify/{id}(id=${boardDto.id})}">수정</a>
        <a class="btn btn-danger" th:href="@{/board/delete/{id}(id=${boardDto.id})}">삭제</a>
    </div>

</div>
</html>