<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
   <typeAliases>
      <typeAlias alias="BoardDto" type="com.khk11.board.dto.BoardDto"></typeAlias>
      <typeAlias alias="Criteria" type="com.khk11.board.dto.Criteria"></typeAlias>
      <typeAlias alias="MemberDto" type="com.khk11.member.dto.MemberDto"></typeAlias>
   </typeAliases>
</configuration>