<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name> jsp05-model2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hello</display-name>
    <servlet-name>hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hi</display-name>
    <servlet-name>Hi</servlet-name>
    <servlet-class>Hi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hi</servlet-name>
    <url-pattern>/Hi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Gugudan</display-name>
    <servlet-name>Gugudan</servlet-name>
    <servlet-class>Gugudan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gugudan</servlet-name>
    <url-pattern>/Gugudan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>com.khk11.controller.member.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/member/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertProcess</display-name>
    <servlet-name>InsertProcess</servlet-name>
    <servlet-class>com.khk11.controller.member.InsertProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertProcess</servlet-name>
    <url-pattern>/member/insert-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.khk11.controller.index.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.khk11.controller.member.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/member/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProcess</display-name>
    <servlet-name>LoginProcess</servlet-name>
    <servlet-class>com.khk11.controller.member.LoginProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProcess</servlet-name>
    <url-pattern>/member/login-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Info</display-name>
    <servlet-name>Info</servlet-name>
    <servlet-class>com.khk11.controller.member.Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/member/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.khk11.controller.member.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/member/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.khk11.controller.member.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/member/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProcess</display-name>
    <servlet-name>DeleteProcess</servlet-name>
    <servlet-class>com.khk11.controller.member.DeleteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProcess</servlet-name>
    <url-pattern>/member/delete-pro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheck</display-name>
    <servlet-name>IdCheck</servlet-name>
    <servlet-class>com.khk11.controller.member.IdCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheck</servlet-name>
    <url-pattern>/member/id-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>com.khk11.controller.member.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/member/info-edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProcess</display-name>
    <servlet-name>EditProcess</servlet-name>
    <servlet-class>com.khk11.controller.member.EditProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProcess</servlet-name>
    <url-pattern>/member/edit-pro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMemberProcess</display-name>
    <servlet-name>EditMemberProcess</servlet-name>
    <servlet-class>com.khk11.controller.member.EditMemberProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMemberProcess</servlet-name>
    <url-pattern>/member/edit-member-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardList</display-name>
    <servlet-name>BoardList</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardList</servlet-name>
    <url-pattern>/board/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWrite</display-name>
    <servlet-name>BoardWrite</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardWrite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWrite</servlet-name>
    <url-pattern>/board/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWriteProcess</display-name>
    <servlet-name>BoardWriteProcess</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardWriteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteProcess</servlet-name>
    <url-pattern>/board/board-write-pro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardView</display-name>
    <servlet-name>BoardView</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardView</servlet-name>
    <url-pattern>/board/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUpload</display-name>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>com.khk11.controller.board.ImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/board/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDelete</display-name>
    <servlet-name>BoardDelete</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDelete</servlet-name>
    <url-pattern>/board/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteProcess</display-name>
    <servlet-name>BoardDeleteProcess</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardDeleteProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteProcess</servlet-name>
    <url-pattern>/board/delete-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardModify</display-name>
    <servlet-name>BoardModify</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardModify</servlet-name>
    <url-pattern>/board/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardModifyProcess</display-name>
    <servlet-name>BoardModifyProcess</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardModifyProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardModifyProcess</servlet-name>
    <url-pattern>/board/modify-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateProcess</display-name>
    <servlet-name>BoardUpdateProcess</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardUpdateProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateProcess</servlet-name>
    <url-pattern>/board/update-process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>List</display-name>
    <servlet-name>List</servlet-name>
    <servlet-class>com.khk11.controller.member.List</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>List</servlet-name>
    <url-pattern>/member/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardSearchPro</display-name>
    <servlet-name>BoardSearchPro</servlet-name>
    <servlet-class>com.khk11.controller.board.BoardSearchPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardSearchPro</servlet-name>
    <url-pattern>/board/search-pro</url-pattern>
  </servlet-mapping>
</web-app>